-webkit-text-size-adjust: 100%;
font-feature-settings: normal;
-webkit-tap-highlight-color: transparent;
font-variation-settings: normal;
tab-size: 4;
--balloon-1: #ff6b9d;
--balloon-2: #4ecdc4;
--balloon-3: #ffd93d;
--balloon-4: #95e1d3;
--balloon-5: #6c5ce7;
--balloon-6: #fd79a8;
--balloon-shadow: #00000026;
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
--toastify-color-light: #fff;
--toastify-color-dark: #121212;
--toastify-color-info: #3498db;
--toastify-color-success: #07bc0c;
--toastify-color-warning: #f1c40f;
--toastify-color-error: #e74c3c;
--toastify-color-transparent: #ffffffb3;
--toastify-icon-color-info: var(--toastify-color-info);
--toastify-icon-color-success: var(--toastify-color-success);
--toastify-icon-color-warning: var(--toastify-color-warning);
--toastify-icon-color-error: var(--toastify-color-error);
--toastify-toast-width: 320px;
--toastify-toast-background: #fff;
--toastify-toast-min-height: 64px;
--toastify-toast-max-height: 800px;
--toastify-font-family: sans-serif;
--toastify-z-index: 9999;
--toastify-text-color-light: #757575;
--toastify-text-color-dark: #fff;
--toastify-text-color-info: #fff;
--toastify-text-color-success: #fff;
--toastify-text-color-warning: #fff;
--toastify-text-color-error: #fff;
--toastify-spinner-color: #616161;
--toastify-spinner-color-empty-area: #e0e0e0;
--toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
--toastify-color-progress-dark: #bb86fc;
--toastify-color-progress-info: var(--toastify-color-info);
--toastify-color-progress-success: var(--toastify-color-success);
--toastify-color-progress-warning: var(--toastify-color-warning);
--toastify-color-progress-error: var(--toastify-color-error);
--navbar-height: 5rem;
--side-navbar-width: 18rem;
--color-white: #fff;
--color-grey-1: #f3f4f6;
--color-grey-2: #d1d5db;
--color-grey-3: #9ca3af;
--color-dark-0: #080c14;
--color-dark-1: #111827;
--color-dark-2: #1f2937;
--color-dark-3: #374151;
--color-dark-4: #6b7280;
--color-footer: var(--color-dark-2);
--font-vip: "VipHalaBold",sans-serif;
--font-w-normal: 400;
--font-w-medium: 600;
--font-w-bold: 700;
--transition-smooth: 0.4s;
--transition-very-smooth: 0.6s;
--transition-fast: 0.2s;
--shadow-large: 20px var(--color-shadow-large);
--shadow-medium: 10px var(--color-shadow-medium);
--shadow-small: 5px var(--color-shadow-small);
--shadow-large-d: 20px 4px var(--color-shadow-large);
--shadow-medium-d: 10px 4px var(--color-shadow-medium);
--shadow-small-d: 5px 3px var(--color-shadow-small);
--border-radius-large: 1.3rem;
--border-radius-medium: 1rem;
--border-radius-small: 0.4rem;
--scale-90: 1;
--scale-100: 1.15;
--scale-95: 0.9;
--font-size-h1: 2rem;
--font-size-h2: 1.5rem;
--font-size-h3: 1.25rem;
--font-size-normal: 1rem;
--font-size-small: 0.875rem;
--font-size-smaller: 0.813rem;
--font-size-big: 3rem;
--font-size-bigmax: 4rem;
--font-size-bigmain: 6rem;
--side-navbar-collapsed-width: 3rem;
--color-bassthalk: #11baf0;
--color-primary: #1eb1ff;
--color-azure: #e7f8fd;
--font-family: "Almarai",sans-serif;
--body-top: var(--navbar-height);
line-height: inherit;
color: var(--color-text-primary);
direction: rtl;
font-family: var(--font-family);
font-size: var(--font-size-normal);
font-weight: var(--font-w-normal);
text-align: right;
--color-primary-container: var(--color-dark-0);
--color-secondary-container: var(--color-dark-2);
--color-third-container: var(--color-dark-1);
--color-outer-container: var(--color-dark-0);
--color-inner-container: var(--color-dark-1);
--color-middle-container: var(--color-dark-2);
--color-text-primary: var(--color-white);
--color-text-secondary: var(--color-grey-3);
--color-shadow-large: #000;
--color-shadow-medium: #000c;
--color-shadow-small: #0005;
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: #3b82f680;
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
--tw-contain-size: ;
--tw-contain-layout: ;
--tw-contain-paint: ;
--tw-contain-style: ;
border: 0 solid #e5e7eb;
box-sizing: border-box;
margin: 0;
padding: 0;
position: relative;
display: flex;
height: 100%;
min-height: 100vh;
width: 100%;
flex-direction: column;
justify-content: space-between;